<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
    <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">URL Shortner</h2>

    <%= render 'form', link: Link.new %>

    <%= turbo_frame_tag "links", class: 'mt-5' do %>
      <% if @links.exists? %>
        <% @links.each do |link| %>
          <%= render "link", link: link %>
        <% end %>
      <% else %>
        <span class="text-white">No Links found!</span>
      <% end %>
    <% end %>
    <% if @links.exists? %>
      <%== pagy_nav(@pagy) %>
    <% end %>
</section>